<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>

  <div class="wrapper">
    {{ content }}
  </div>
  
  {% include analytics.html %}
</body>
<script src="/live2d/L2Dwidget.min.js"></script>
<script type="text/javascript">
window.onload = function () {
  L2Dwidget.init({
    model: {
      jsonPath: '/live2d/tororo/assets/tororo.model.json',
    },
    display: {
      superSample: 2,
      width: 150,
      height: 150,
      position: 'right',
      hOffset: 0,
      vOffset: 0,
    },
    mobile: {
      show: false,
      scale: 0.1,
      motion: true,
    },
    react: {
      opacityDefault: 1,
      opacityOnHover: 1,
    }
  })
}
</script>
</html>
